<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/gamecreation.js}"></script>
<script type="module" th:src="@{/js/game-creation-form.js}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<!------ Include the above in your HEAD tag ---------->

<div th:replace="/includes/header40 :: header"> </div>

<div class="container">
<div class="card bg-light">

<game-creation-form th:gameId="${game.id}" th:gameName="${game.name}" th:gameUrl="${game.url}" th:gameDescription="${game.description}"></game-creation-form>

</div> <!-- card.// -->
</div> 
<!--container end.//-->
