<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/gameTable.js}"/></script>
<!------ Include the above in your HEAD tag ---------->

<div th:replace="/includes/header :: header"> </div>

<div class="container">
	<div class="row">

		<section class="content">
			<h1>Jugadores</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="mensajeEliminacion" class="alert alert-success" style="display:none;" role="alert"> Jugador eliminado con éxito </div>
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-danger btn-filter" data-target="siguiendo">Siguiendo</button>
								<button type="button" class="btn btn-success btn-filter" data-target="sinSeguir">Sin Seguir</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<div th:if="${#lists.isEmpty(players)}" class="alert alert-danger" role="alert"> No se han encontrado jugadores que coincidan con los parámetros de búsqueda</div>
									<th:block th:each="player : ${players}">
									<tr>
										<td>
											<div class="ckbox">
												<input type="checkbox" th:id="checkbox + ${player.id}">
												<label th:for="checkbox + ${player.id}"></label>
											</div>
										</td>
										<td>
											<span class="heart">
												<input type="checkbox">
												<label>
													<i class="glyphicon glyphicon-heart" ></i>
												</label>
											</span>
										</td>
										<td style="width: 69.7%;">
											<div class="media">
												<a href="#" class="pull-left">
													<img th:src="@{'/images/user.jpg'}" class="media-photo">
												</a>
												<div class="media-body-player">
													<span class="media-meta pull-right">Febrero 13, 2016</span>
													<h4 class="title" th:text="${player.name} + ' ' + ${player.lastname}">
														...
														<span class="pull-right pagado">(Pagado)</span>
													</h4>
													<p class="summary" th:text="${player.age}">...</p>
												</div>
											</div>
										</td>
										<td class="pull-right">
											<a th:href="'/editPlayer/' + ${player.id}"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button></a>
											<button type="button" th:id="delete + ${player.id}" class="btn btn-danger" th:onclick="'deletePlayer(\'' + ${player.id} + '\');'"><i class="glyphicon glyphicon-trash"></i></button>
										</td>
									</tr>
									</th:block>
								</tbody>
							</table>
							<a href="/addPlayer"><button type="button" class="btn btn-primary center-block">Crear Jugador</button></a>
						</div>
					</div>
				</div>
				<div class="content-footer">
					<p>
						Page © - 2019 <br>
						Powered By <a href="" target="_blank">------</a>
					</p>
				</div>
			</div>
		</section>
		
	</div>
</div>