<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/playercreation.js}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<!------ Include the above in your HEAD tag ---------->

<div th:replace="/includes/header40 :: header"> </div>

<div class="container">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center" th:text="${player.id} ? 'Editar Jugador' : 'Crear Jugador'"></h4>
	<p class="divider-text">
        <span></span>
    </p>
    <div id="mensajeEdicion" class="alert alert-success" style="display:none;" role="alert"> Jugador editado con éxito </div>
    <div id="mensajeError" class="alert alert-danger" style="display:none;" role="alert"> DNI incorrecto </div>
	<form th:id="${player.id} ? 'myFormEdit' : 'myFormAdd'" action="/playerList" method="post" enctype="multipart/form-data" >
	<input type="hidden" id="playerId" th:value="${player.id}">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input id="nameInput" name="name" class="form-control input-text" placeholder="Nombre" type="text" th:value='${player.name}' >
    </div> <!-- form-group// -->
    
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input id="playerLastname" name="lastname" class="form-control input-text" placeholder="Apellido" type="text" th:value='${player.lastname}' >
    </div> <!-- form-group// -->
    
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
		 </div>
        <input name="age" class="form-control input-text" placeholder="Edad" type="number" th:value=${player.age}>
    </div> <!-- form-group// -->
    
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-id-card"></i> </span>
		 </div>
        <input id="playerDNI" name="dni" class="form-control input-text" placeholder="DNI" type="text" th:value='${player.dni}' >
    </div> <!-- form-group// -->
                                       
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" th:text="${player.id} ? 'Editar Jugador' : 'Crear Jugador'" onclick="sendForm(event);"> </button>
    </div> <!-- form-group// -->                                                                    
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->